body{
    font-family:sans-serif;
    background-color:rgb(211, 164, 255);
}
.container {
  
    /* border: 2px solid black; */
    text-align: center;
  
}

#text {
    width: 348px;
    height: 25px;
    font-size: medium;
}

.btn {
    height: 30px;
    font-size: 15px;
}

#todolist {
    width: 500px;
    margin: auto;
}

<<<<<<< HEAD
@media (max-width: 480px) {

    #todolist{
        width: 350px;
        display: inline;
        text-align: center;
    }
    .btn{
        margin-top: 5px;
    }

    #text {
        width: 300px;
    }
    
}
=======
>>>>>>> 2f5d1dad1dae479f9db61d05409a3990e3537932
